spring:
  application:
    name: booking-system

  datasource:
    url: jdbc:postgresql://localhost:5432/cinema_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: validate

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

  data:
    redis:
      host: localhost
      port: 6379
  cache:
    type: redis

app:
  scheduling:
    ticket-cleanup-cron: "0 * * * * *"
    booking-expiration-minutes: 5